@import 'components/header/style';
@import 'components/datatable/style';
@import '_mixins';

html {
    width: 100%;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0
}

main {
    display: block
}

*[hidden] {
    display: none!important
}

html,body {
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px
}

h1,h2,h3,h4,h5,h6,p {
    padding: 0
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -.02em;
    opacity: .54;
    font-size: .6em
}

h1 {
    font-size: 56px;
    line-height: 1.35;
    letter-spacing: -.02em;
    margin: 24px 0
}

h1,h2 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400
}

h2 {
    font-size: 45px;
    line-height: 48px
}

h2,h3 {
    margin: 24px 0
}

h3 {
    font-size: 34px;
    line-height: 40px
}

h3,h4 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400
}

h4 {
    font-size: 24px;
    line-height: 32px;
    -moz-osx-font-smoothing: grayscale;
    margin: 24px 0 16px
}

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em
}

h5,h6 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin: 24px 0 16px
}

h6 {
    font-size: 16px;
    letter-spacing: .04em
}

h6,p {
    font-weight: 400;
    line-height: 24px
}

p {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 16px
}

a {
    color: #ff4081;
    font-weight: 500
}

blockquote {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    position: relative;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.35;
    letter-spacing: .08em
}

blockquote:before {
    position: absolute;
    left: -.5em;
    content: '“'
}

blockquote:after {
    content: '”';
    margin-left: -.05em
}

mark {
    background-color: #f4ff81
}

dt {
    font-weight: 700
}

address {
    font-size: 12px;
    line-height: 1;
    font-style: normal
}

address,ul,ol {
    font-weight: 400;
    letter-spacing: 0
}

ul,ol {
    font-size: 14px;
    line-height: 24px
}

.mh-layout__content {
    -ms-flex: 0 1 auto;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1% 2%;
}