@import '_variables';
@import '_mixins';

.mh-layout__header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-height: $layout-desktop-header-height;
    max-height: 1000px;
    z-index: 3;
    background-color: $layout-header-bg-color;
    color: $layout-header-text-color;
    @include shadow-2dp();
    transition-property: max-height, box-shadow;
}

.mh-layout__header-row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      align-self: stretch;
      align-items: center;
      height: $layout-header-desktop-row-height;
      margin: 0;
      padding: 0 $layout-header-desktop-indent 0 $layout-header-desktop-baseline;
}

.mh-layout__title,  .mh-layout-title {
    display: block;
    position: relative;
    @include typo-title();
    font-weight: 400;
    box-sizing: border-box;
  }
